<div class="container">
  <div class="row">

    <div class="col-sm-12">
      <h1>Livre</h1>
   </div>

    <div class="col-sm-4 col-md-3">
      <form class="form" name="form" ng-submit="" novalidate>

        <div class="form-group">
          <label>Titre</label>

          <input type="text" name="titre" class="form-control" ng-model="vm.livre.titre" required>
          {{vm.livre.titre}}
        </div>

        <div class="form-group">
          <label>Auteur</label>

          <input type="text" name="auteur" class="form-control" ng-model="" required>

        </div>

        <div class="form-group">
          <label>Editeur</label>

          <input type="text" name="editeur" class="form-control" ng-model="" required>
        </div>

        <div>

          <button class="btn btn-default btn-lg btn-Valider" type="submit">
            Valider
          </button>

        </div>

        <hr/>
      </form>
    </div>
  </div>
  <hr>
</div>
